* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans Mono', monospace;
}

/*
This is the topmost banner that spans the width of the page.
It will contain the 'About Me' logo and the navigation bar
with each of its links.
*/
.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/*Contains both the logo and the navigation bar.
'space-around' allows for each of these items to be
equally spaced out, which looks better than start so far.
*/
.navbarContainer {
    display: flex;
    justify-content: space-around;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

/*
ID selector for the Logo that's seen at the top left of the page.
Note that the 'webkit' and 'moz' target the browsers that use them, 
such as chrome and firefox (note: can't very reliable documentation on this).
*/
#navbarLogo {
    background-color: #8f6bfb;
    background-image: linear-gradient(to top, #8f6bfb 0%, #4568dc 100%);
    background-size: 100%;
    -webkit-background-clip: text; /*Clips element's background so that it's only the text that's visible.*/
    -moz-background-clip: text; /*Same as the webkit line above, but for mozilla based browsers.*/
    -webkit-text-fill-color: transparent; /*Makr text color transparent so that the background color shows through.*/
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer; /*Cool feature; changes the cursor to a pointer when hovering over the logo.*/
    text-decoration: none;
    font-size: 2rem;
}

.favicon {
    margin-right: 0.5rem;
}

.navbarMenu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbarItem {
    height: 80px;
}

.navbarLink {
    /*Reused this section from the logo above; 
    want to keep this 'hazy purple' theme.*/
    background-color: #8f6bfb;
    background-image: linear-gradient(to top, #8f6bfb 0%, #4568dc 100%);
    background-size: 100%;
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/*Extra styling for the links, which allow for them to hover and
slightly squish together when hovered over.*/
.navbarLink:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 12px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #4568dc;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
}

/*Main container for the header block, image reele, and
'about me' section. Uses gridbox for parent structuring.*/
.mainContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.9fr 1.4fr 1.2fr; 
    height: 120vh;
    background-color: #141414;
}

/*Container for the two 'welcome' headers.*/
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-left: -20px;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 2000px;
    padding: 0 50px;
}

/*Styling for the two headers seen before the image reel
and main 'about me' section.*/
.headerContent h1 {
    font-size: 4rem;
    background-color: #8f6bfb;
    background-image: linear-gradient(to top, #8f6bfb 0%, #4568dc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/*Leverages a bottom starting gradiant to work with the
h1 header that uses a 'to top' gradiant.*/
.headerContent h2 {
    font-size: 2rem;
    background-color: #8f6bfb;
    background-image: linear-gradient(to bottom, #8f6bfb 0%, #4568dc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/*Gridbox container for the 'about me' description.*/
.descriptionContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-left: -50px;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 2000px;
    padding: 0px 5px;
}

/*Flexbox container for the 'about me' description.*/
.descriptionContainer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 15px;
    background-color: #141414;
}

/*Styling for each of the 5 paragraphs in the 'about me' description.
I couldn't figure out a more efficient way to add styling to all of them at once.*/
.aboutMeList li {
    font-size: 1.2rem;
    color: #76737e;
}

/*Flexbox container for the image reel.*/
.imageReelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 2000px;
    max-height: 90vh;
    margin: 20px auto;
    margin-left: -28px;
    position: relative;    
    background-color: #141414;
}

/*Primary container for the image reel. 
I wanted portrait images, which didn't require
any additional structuring to implement.*/
.imageReel {
    position: relative;
    width: 100%;
    max-height: 775px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*For Rounded corners.*/
}

/*Individual slide sizing.*/
.imageSlide {
    display: none;
    width: 100%;
    height: 100%;
}

/*Image sizing.*/
.imageSlide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Really simple fade animation*/
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

/*Internal components of the fade animation.
30% opacity with a 3 second animation duration gives a nice effect
that's similar to an exaggerated slow blink*/
@keyframes fade {
    from {opacity: .3} 
    to {opacity: 1}
}